@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Oxygen", sans-serif;
}

h1,
h3,
.backToSearch,
.card-body {
  text-align: center;
}

body {
  margin: 0 10px;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* React bootstrap */

.carousel {
  text-align: center;
  position: relative;
  width: 300px;
  margin: auto;
}

.carousel-title {
  background: rgba(28, 29, 28, 0.5);
  color: white;
}

.footer {
  text-align: center;
}

.summary {
  text-align: justify;
  font-size: 13px;
}

.showtitle {
  text-decoration: none;
  color: #ffffff;
}
