@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0 50px;
  background-color: whitesmoke;
}

/* Formatting for navigation bar */

.navbar {
  width: 100%;
  background-color: #222529;
  overflow: auto;
  position: relative;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  /* padding: 12px; */
  padding: 6px 12px 6px 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.navbar active {
  background-color: #000000;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

  .login {
    width: 300px;
  }
}

/* Formatting for carousel */

.carousel-header {
  text-align: center;
}

.carousel {
  text-align: center;
  position: relative;
  width: 300px;
  margin: auto;
}

.carousel-title {
  background: rgba(28, 29, 28, 0.5);
  text-decoration: none;
  color: white;
}

.carousel-title a {
  text-decoration: none;
  color: white;
}

.carousel-title a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Formatting for results */

.spinner {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body,
.footer {
  text-align: center;
}

.summary {
  text-align: justify;
  font-size: 13px;
}

/* Formatting for contact page */

.contact {
  margin: auto;
}

/* Formatting for login page */

.login {
  margin: auto;
  width: 500px;
}
